<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cart/css/style.css' %">
</head>
<body>
    <h1>Amadon Store</h1>
    <table>
        <tr>
            <th>Items:</th>
            <th>Price:</th>
            <th>Actions:</th>
        </tr>
        <tr>
            <td>Dojo Shirt</td>
            <td>$19.99</td>
            <td>
                <form action="/buy" method='POST'>
                    {% csrf_token %} 
                    <input type="hidden" name="price" value="19.99"/>
                    <input type="hidden" name="item" value="shirt"/>
                    <select name="qty" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <input type="submit" value="Buy"/>
                </form>
            </td>
        </tr>
        <tr>
            <td>Dojo Sweater</td>
            <td>$29.00</td>
            <td>
                <form action="/buy" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="price" value="29"/>
                    <input type="hidden" name="item" value="sweater"/>
                    <select name="qty" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <input type="submit" value="Buy"/>
                </form>
            </td>
        </tr>
        <tr>
            <td>Dojo Cup</td>
            <td>$4.99</td>
            <td>
                <form action="/buy" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name"price" value="4.99">
                    <input type="hidden" name="item" value="cup"/>
                    <select name="qty" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <input type="submit" value="Buy"/>
                </form>
            </td>
        </tr>
        <tr>
            <td>Algorithm Book</td>
            <td>$49.99</td>
            <td>
                <form action="/buy" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="price" value="49.99">
                    <input type="hidden" name="item" value="book"/>
                    <select name="qty" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <input type="submit" value="Buy"/>
                </form>
            </td>
        </tr>
    </table>
    <h3>Items in cart: {{request.session.in_cart}}</h3>
    <h3>Subtotal: {{request.session.total}}</h3>
    <form action='/clear' method='GET'>
        {%csrf_token%}
        <input type="submit" value="Checkout"/>
    </form>
</body>
</html>