<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'words/css/main.css' %}">
    <title>session words</title>
</head>
<body>
    <div id="left">
        <form action="/add" method="post">
            {% csrf_token %}
            <label for="word">Add a new word</label>
            <input type="text" name="word" id="wordtext">
            <label for="color">Choose color</label>
            <label><input type="radio" name="color" value="red">Red</label>
            <label><input type="radio" name="color" value="green">Green</label>
            <label><input type="radio" name="color" value="blue">Blue</label>
            <label><input type="checkbox" name="big" value="big">show in BIG font</label>
            <button type="submit">Add to Session</button>
        </form>
    </div>
    <div id="right">
        <form action="/clear" method="post">
            {% csrf_token %}
            <button type="submit">Clear Session</button>
        </form>
        {% if words %}
            {% for word in words %}
                <p><span style="color:{{ word.color }}" class="{{ word.big }}">{{word.word}}</span> - added on {{ word.created_at }}</p>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>